/JCW_CS_THEQUEST/bin/Debug/
/JCW_CS_THEQUEST/obj/Debug/
/JCW_CS_THEQUEST/.vs/JCW_CS_THEQUEST/v16/ipch/
/JCW_CS_THEQUEST/.vs/JCW_CS_THEQUEST/v16/.suo
/JCW_CS_THEQUEST/.vs/JCW_CS_THEQUEST/v16/Browse.VC.*
/JCW_CS_WINDOWSFORM/bin/Debug/
/JCW_CS_WINDOWSFORM/obj/Debug/
/JCW_CS_WINDOWSFORM/.vs/JCW_CS_WINDOWSFORM/v16/ipch/
/JCW_CS_WINDOWSFORM/.vs/JCW_CS_WINDOWSFORM/v16/.suo
/JCW_CS_WINDOWSFORM/.vs/JCW_CS_WINDOWSFORM/v16/Browse.VC.*
/COOKBOOK/CookBook/ExportedObj/
/COOKBOOK/CookBook/.consulo/
/COOKBOOK/CookBook/*.csproj
/COOKBOOK/CookBook/*.unityproj
/COOKBOOK/CookBook/*.sln
/COOKBOOK/CookBook/*.suo
/COOKBOOK/CookBook/*.tmp
/COOKBOOK/CookBook/*.user
/COOKBOOK/CookBook/*.userprefs
/COOKBOOK/CookBook/*.pidb
/COOKBOOK/CookBook/*.booproj
/COOKBOOK/CookBook/*.svd
/COOKBOOK/CookBook/*.pdb
/COOKBOOK/CookBook/*.mdb
/COOKBOOK/CookBook/*.opendb
/COOKBOOK/CookBook/*.VC.db
/COOKBOOK/CookBook/*.pidb.meta
/COOKBOOK/CookBook/*.pdb.meta
/COOKBOOK/CookBook/*.mdb.meta
/COOKBOOK/CookBook/*.apk
/COOKBOOK/CookBook/*.aab
/COOKBOOK/CookBook/*.unitypackage
/COOKBOOK/CookBook/*.app
/COOKBOOK/CookBook//Library/
/COOKBOOK/CookBook//Temp/
/COOKBOOK/CookBook//Obj/
/COOKBOOK/CookBook//Build/
/COOKBOOK/CookBook//Builds/
/COOKBOOK/CookBook//Logs/
/COOKBOOK/CookBook//UserSettings/
