/JCW_CS_THEQUEST/bin/Debug/
/JCW_CS_THEQUEST/obj/Debug/
/JCW_CS_THEQUEST/.vs/JCW_CS_THEQUEST/v16/ipch/
/JCW_CS_THEQUEST/.vs/JCW_CS_THEQUEST/v16/.suo
/JCW_CS_THEQUEST/.vs/JCW_CS_THEQUEST/v16/Browse.VC.*
/JCW_CS_WINDOWSFORM/bin/Debug/
/JCW_CS_WINDOWSFORM/obj/Debug/
/JCW_CS_WINDOWSFORM/.vs/JCW_CS_WINDOWSFORM/v16/ipch/
/JCW_CS_WINDOWSFORM/.vs/JCW_CS_WINDOWSFORM/v16/.suo
/JCW_CS_WINDOWSFORM/.vs/JCW_CS_WINDOWSFORM/v16/Browse.VC.*
